<div class="row">
  <div class="col s12 m12">
    <%= render 'form' %>

    <% @statuses.each do |status| %>
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title"><%= status.user.name %></span>
          <p class="status-body"><%= status.body %></p>
        </div>
        <div class="card-action">
          <%= link_to '良いね！', { action: :like, id: status }, class: 'vertical-align-middle' %>
          <%= link_to '詳細', status_path(status), class: 'vertical-align-middle' %>
          <span class="status-footer">
            <i class="material-icons vertical-align-middle">
              thumb_up
            </i>
            <%= status.likes.length %> person like this
          </span>
          <span class="status-footer">
            <i class="material-icons vertical-align-middle">
              chat_bubble
            </i>
            <%= status.comments.length %> comments
          </span>
          <span class="status-footer">
            <i class="material-icons vertical-align-middle">
              access_time
            </i>
            <%= time_ago_in_words(status.created_at) %> ago
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>