<div class="row">
  <div class="card horizontal">
    <div class="card-image">
      <%= gravatar_for(@status.user, size:100) %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h4><%= @status.user.name %></h4>
        <p><%= @status.body %></p>
      </div>

    </div>

  </div>

  <%= render partial: 'comments/form', locals: { comment: @comment, status: @status } %>

  <div>
    <p>コメント一覧</p>
  </div>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>

</div>