<h1><%= @user.name %></h1>
<p>メールアドレス : <%= @user.email %></p>
<% if @user.id == current_user.id %>
  <%= link_to '[ ユーザ情報を編集する ]', edit_user_path(@user) %>
  <%= link_to '[ パスワードを変更する ]', password_change_path(@user) %>
<% else %>
  <%= link_to '友達になる', users_path, class: 'waves-effect waves-light btn' %>
<% end %>